
.ipynb_checkpoints/Coral_thermometer_calibration-checkpoint.ipynb
/.virtual_documents
.ipynb_checkpoints/DataExploration-checkpoint.ipynb
.DS_Store
/.ipynb_checkpoints
/paleobook/_build
/paleobook/.ipynb_checkpoints
/paleobook/.virtual_documents
